.jstree-search {
  font-style: italic !important;
  color: #337ab7 !important;
  font-weight: bold !important;
}

.jstree-clicked {
  background-color: #00c0ef !important;
}

.jstree-anchor {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 40em;
}