.jstree-search {
  font-style: italic !important;
  color: #0075b0 !important;
  font-weight: bold !important;
}

.jstree-clicked {
  background-color: #0075b0 !important;
  color: #ffffff !important;
}

.jstree-anchor {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 40em;
}